* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
  width: 100%;
  overflow: hidden;
  background-color: #803F31;
  margin-bottom: 20px;
}

.logo {
  float: left;
  margin: 10px;
  padding: 10px;
}

.headernav{
  float: right;
  line-height: 150px;
}

.headernava{
  display: inline-block;
  color:white;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
}

.headernava:hover{
  background: #f56f3a;
  border-radius: 50px;
}

.wrapper{
  width: 100%;
  max-width: 1600px;
  margin:auto;
  overflow: hidden;
}



footer {
  text-align: left;
  background-color:#803F31;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
    margin-top: 10px;
    margin-left: 25px;
}